#app {
	padding-right: 0px;
	padding-left: 0px;
}

header {
	background: #191919;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;

	.brand {
		display: inline-flex;
		align-items: center;
		#logo {
			height: 50px;
			width: auto;
			margin: 0 15px;
		}

		h1 {
			color: #fff;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	.links {
		display: inline-flex;
		justify-content: flex-end;
		width: 150px;
		margin: 20px;
		list-style: none;

		a {
			color: white;
			margin: 10px;
		}
	}
}

.main {
	.hero {
		width: 100%;
		height: 300px;
		background: orange;
	}
	.description {
		margin: 20px;
	}
}